*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: gray;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.title_small{
    font-size: 20px;
}

.form_container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat( autofit, minimax(200px,1fr));
    gap: 20px;

}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input , select , textarea{
    padding: 6px,10px;
    border: 2px solid black;
    border-radius: 5px;
}

input:focus{
    outline-color: red;
}

.btn_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background: greenyellow;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover{
    cursor: pointer;
    transition: 0.3s ease-out;
    border: 2px solid black;
}

.textarea_control{
    grid-column: 1 / span 2;
}